/* Archivo CSS para darle estilo a la página */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    flex: 1;
    padding: 2em;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 1em;
    cursor: pointer;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1em;
}
